1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
#this
for i in range(1,100):
  if i % 15 == 0: 
    print("MickeyMouse")
  
  elif i % 5 == 0 :
    print("Mouse")
  
  elif i % 3 == 0 :
    print("Mickey")
   
  else:
    print(i)

In [49]:
#or this
lista = list(range(1,100))
for i in range(0,99):
  if lista[i] % 15 == 0: 
    lista[i]=("MickeyMouse")
  
  elif lista[i] % 5 == 0: 
    lista[i]=("Mouse")
  
  elif lista[i] % 5 == 0: 
    lista[i]=("Mickey")
    
  else:
    i = i

#print(lista)

#then swap the donald duck 
# for i in range(0,99):
#     if lista[i]==("MickeyMouse"):
#           lista[i]=("DonaldDuck")
        
#     elif lista[i]==("Mouse"):
#         lista[i] = ("Duck")
  
#     elif lista[i]==("Mickey"):
#          lista[i]=("Donald")  
    
#     else:
#         i = i

a= "Mickey Mopuse"

listb = a.replace("Mickey", "Donald")
        
tuplelist = tuple(lista)
print(tuplelist)

SyntaxError: invalid syntax (<ipython-input-49-272544a2f781>, line 32)

In [52]:
lista

[1,
 2,
 3,
 4,
 'Mouse',
 6,
 7,
 8,
 9,
 'Mouse',
 11,
 12,
 13,
 14,
 'MickeyMouse',
 16,
 17,
 18,
 19,
 'Mouse',
 21,
 22,
 23,
 24,
 'Mouse',
 26,
 27,
 28,
 29,
 'MickeyMouse',
 31,
 32,
 33,
 34,
 'Mouse',
 36,
 37,
 38,
 39,
 'Mouse',
 41,
 42,
 43,
 44,
 'MickeyMouse',
 46,
 47,
 48,
 49,
 'Mouse',
 51,
 52,
 53,
 54,
 'Mouse',
 56,
 57,
 58,
 59,
 'MickeyMouse',
 61,
 62,
 63,
 64,
 'Mouse',
 66,
 67,
 68,
 69,
 'Mouse',
 71,
 72,
 73,
 74,
 'MickeyMouse',
 76,
 77,
 78,
 79,
 'Mouse',
 81,
 82,
 83,
 84,
 'Mouse',
 86,
 87,
 88,
 89,
 'MickeyMouse',
 91,
 92,
 93,
 94,
 'Mouse',
 96,
 97,
 98,
 99]

In [53]:
b = []

for s in lista:
    if type(s)==str:
        s = s.replace("Mickey", "Donald")
    b.append(s)
    
b

[1,
 2,
 3,
 4,
 'Mouse',
 6,
 7,
 8,
 9,
 'Mouse',
 11,
 12,
 13,
 14,
 'DonaldMouse',
 16,
 17,
 18,
 19,
 'Mouse',
 21,
 22,
 23,
 24,
 'Mouse',
 26,
 27,
 28,
 29,
 'DonaldMouse',
 31,
 32,
 33,
 34,
 'Mouse',
 36,
 37,
 38,
 39,
 'Mouse',
 41,
 42,
 43,
 44,
 'DonaldMouse',
 46,
 47,
 48,
 49,
 'Mouse',
 51,
 52,
 53,
 54,
 'Mouse',
 56,
 57,
 58,
 59,
 'DonaldMouse',
 61,
 62,
 63,
 64,
 'Mouse',
 66,
 67,
 68,
 69,
 'Mouse',
 71,
 72,
 73,
 74,
 'DonaldMouse',
 76,
 77,
 78,
 79,
 'Mouse',
 81,
 82,
 83,
 84,
 'Mouse',
 86,
 87,
 88,
 89,
 'DonaldMouse',
 91,
 92,
 93,
 94,
 'Mouse',
 96,
 97,
 98,
 99]

In [54]:
# c = [s.replace("Mickey", "Donald") for s in lista if type(s)==str]
# c
# no integer because the program changes every string and only works with string

['Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse',
 'Mouse',
 'DonaldMouse',
 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [11]:
x = int (input ("enter X : "))
y = int(input ("enter Y : "))

y = x + y
x = y - x
y = y - x

print ("X = " ,x ,"; Y = ", y)

enter X : 1
enter Y : 2
X =  2 ; Y =  1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [24]:
u = (3 , 0)
v = (0 , 4)

ED = ((u[0]-v[0])**2 + (u[1]-v[1])**2)**0.5
print (ED)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [25]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

out = {x : s.count(x) for x in set(s)} 
print (out)

{'w': 1, 'i': 14, 'e': 22, '.': 2, 'W': 1, 'c': 3, '0': 2, 'p': 8, 'u': 9, 'r': 17, 't': 19, 'F': 1, 'k': 2, 'l': 6, 'a': 7, 'y': 2, '1': 2, ' ': 41, 'M': 4, 'n': 10, 'h': 9, 'm': 8, 's': 9, 'd': 3, 'f': 9, 'b': 4, 'g': 1, 'o': 13, 'v': 2, 'B': 1}

In [27]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

freq = {}
    
for t in s: 
    if t in freq: 
        freq[t] += 1
    else: 
        freq[t] = 1
    
# printing result  
print ("Freq : \n"+ str(freq))

Freq :
{'W': 1, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 2, 'B': 1, 'l': 6, 'M': 4, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2, 'F': 1, 'w': 1}

In [28]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

j = str(input("what do you want to count : "))
k = s.count(j)
print (k)

what do you want to count : 1
2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [29]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

a = int(input("what do you want to count : "))
x = l.count(a)
print (x)

what do you want to count : 5
1

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

out = {r : l.count(x) for r in set(l)} 
print (out)

{1: 1, 3: 1, 5: 1, 8: 1, 9: 1, 10: 1, 16: 1, 18: 1, 19: 1, 20: 1, 24: 1, 30: 1, 31: 1, 33: 1, 34: 1, 36: 1, 37: 1, 39: 1, 41: 1, 42: 1, 45: 1, 47: 1, 50: 1, 51: 1, 53: 1, 54: 1, 55: 1, 56: 1, 57: 1, 58: 1, 63: 1, 64: 1, 66: 1, 70: 1, 72: 1, 74: 1, 75: 1, 79: 1, 81: 1, 82: 1, 84: 1, 85: 1, 86: 1, 87: 1, 88: 1, 89: 1, 90: 1, 91: 1, 92: 1, 94: 1, 95: 1, 96: 1, 98: 1, 99: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [63]:
def square (a):
    sqr = a * a 
    return sqr

def cube (b):
    cb = b * b * b 
    return cb

def sixpow (sqqr,ccb):
  sp = sqqr * ccb 
  return print(sp)

sqqr = square (5)
ccb = cube (5)

sixpow (sqqr, ccb)

3125

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [47]:
p = list(range(0,11))
for i in range (0,11):
    p[i] = i*i*i
print (p)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [1]:
# pythagorean triples using euclidian formula
# a = m^2 - n^2
# b = 2mn
# c = m^2 + n^2

for m in range (1,100):
    for n in range (1,m):
        a = m*m - n*n
        b = 2*m*n
        c = m*m + n*n
        
        if c < 100:
            print (a,b,c)
            
        else:
            break

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
80 18 82
77 36 85
72 54 90
65 72 97

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
[1,2,3]
sum = 6