1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
for i in range(1,100):
  if i % 15 == 0: 
    print("MickeyMouse")
  
  elif i % 5 == 0 :
    print("Mouse")
  
  elif i % 3 == 0 :
    print("Mickey")
   
  else:
    print(i)

In [59]:
a = list(range(100))
for i in a:
  if i % 15 == 0: 
    a  = "MM"
    # print("MickeyMouse")
  
  elif i % 5 == 0 :
    a = "MO"
    # print("Mouse")
  
  elif i % 3 == 0 :
    a = "MI"
    # print("Mickey")
   
  else:
    a = i

print (a)

MI

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [73]:
x = int (input ("enter X : "))
y = int(input ("enter Y : "))

y = x + y
x = y - x
y = y - x

print ("X = " ,x ,"; Y = ", y)

enter X : 10
enter Y : 20
X =  20 : Y =  10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [83]:
import math
u = (3 , 0)
v = (0 , 4)

ED = math.sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)
print (ED)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [93]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

out = {x : s.count(x) for x in set(s)} 
print (out)

{'l': 6, 'm': 8, 'n': 10, 'c': 3, ' ': 41, '.': 2, 's': 9, '1': 2, 't': 19, 'r': 17, 'b': 4, 'h': 9, 'B': 1, 'y': 2, 'W': 1, 'd': 3, 'f': 9, 'k': 2, 'g': 1, 'F': 1, '0': 2, 'e': 22, 'v': 2, 'a': 7, 'M': 4, 'u': 9, 'o': 13, 'p': 8, 'w': 1, 'i': 14}

In [121]:
inp_str = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

freq = {}
    
for ele in inp_str: 
    if ele in freq: 
        freq[ele] += 1
    else: 
        freq[ele] = 1
    
# printing result  
print ("Occurrence of all characters in GeeksforGeeks is :\n "+ str(freq))

TypeError: ignored

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [120]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

# x = int(input("what do you want to count : "))
x = l.count(63)
print (x)

TypeError: ignored

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one