1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [ ]:
for i in range(1,100):
  if i % 15 == 0: 
    print("MickeyMouse")
  
  elif i % 5 == 0 :
    print("Mouse")
  
  elif i % 3 == 0 :
    print("Mickey")
   
  else:
    print(i)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
x = int (input ("enter X : "))
y = int(input ("enter Y : "))

y = x + y
x = y - x
y = y - x

print ("X = " ,x ,"; Y = ", y)

enter X : 10
enter Y : 20
X =  20 : Y =  10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math
u = (3 , 0)
v = (0 , 4)

ED = math.sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)
print (ED)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

out = {x : s.count(x) for x in set(s)} 
print (out)

{'l': 6, 'm': 8, 'n': 10, 'c': 3, ' ': 41, '.': 2, 's': 9, '1': 2, 't': 19, 'r': 17, 'b': 4, 'h': 9, 'B': 1, 'y': 2, 'W': 1, 'd': 3, 'f': 9, 'k': 2, 'g': 1, 'F': 1, '0': 2, 'e': 22, 'v': 2, 'a': 7, 'M': 4, 'u': 9, 'o': 13, 'p': 8, 'w': 1, 'i': 14}

In [9]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

freq = {}
    
for t in s: 
    if t in freq: 
        freq[t] += 1
    else: 
        freq[t] = 1
    
# printing result  
print ("Occurrence of all characters is : \n"+ str(freq))

Occurrence of all characters is :
{'W': 1, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 8, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 4, 'f': 9, '1': 2, '0': 2, '.': 2, 'B': 1, 'l': 6, 'M': 4, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2, 'F': 1, 'w': 1}

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

j = str(input("what do you want to count : "))
k = s.count(j)
print (k)

what do you want to count : a
7

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [3]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

a = int(input("what do you want to count : "))
x = l.count(a)
print (x)

what do you want to count : 1
1

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

out = {r : l.count(x) for r in set(l)} 
print (out)

{1: 1, 3: 1, 5: 1, 8: 1, 9: 1, 10: 1, 16: 1, 18: 1, 19: 1, 20: 1, 24: 1, 30: 1, 31: 1, 33: 1, 34: 1, 36: 1, 37: 1, 39: 1, 41: 1, 42: 1, 45: 1, 47: 1, 50: 1, 51: 1, 53: 1, 54: 1, 55: 1, 56: 1, 57: 1, 58: 1, 63: 1, 64: 1, 66: 1, 70: 1, 72: 1, 74: 1, 75: 1, 79: 1, 81: 1, 82: 1, 84: 1, 85: 1, 86: 1, 87: 1, 88: 1, 89: 1, 90: 1, 91: 1, 92: 1, 94: 1, 95: 1, 96: 1, 98: 1, 99: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [63]:
def square (a):
    sqr = a * a 
    return sqr

def cube (b):
    cb = b * b * b 
    return cb

def sixpow (sqqr,ccb):
  sp = sqqr * ccb 
  return print(sp)

sqqr = square (5)
ccb = cube (5)

sixpow (sqqr, ccb)

3125

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one